/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{

    background-image: url("carretera.jpg");
    background-repeat: no-repeat;

}

.img1{

height: 300px;
width: 600px;
background-image: url("partes-circuitos-electricos.jpg");
background-repeat: no-repeat;
float: inline-start;

}
.titulo{
font-size: 50px;
color: rgb(133, 60, 129);
text-align: center;

}

.img2{

height: 300px;
width: 600px;
background-image: url("mate.gif");
background-repeat: no-repeat;
float: center;

}